   <!-- @if (show) {
    <app-form-practice></app-form-practice>
    }

@for (user of users; track user.name) {
  <p>{{ user.name | uppercase }}</p>
  <p>{{ user.price | currency }}</p>
  <p>{{ user.date | date }}</p>
}


<ng-content></ng-content>

<button (click)="toggle()">Toggle Loading</button>

<div *ngIf="!isloading; else loading">
  <p>Content loaded successfully!</p>
</div>

<ng-container *ngIf="true">
  <p>Hello</p>
</ng-container>

<input #inputRef>
<button (click)="print(inputRef.value)">Show</button>

@defer {
    <app-form-practice></app-form-practice>
}
-->

<div>
  <input [(ngModel)]="name" placeholder="Type to bind value...">
  <button (click)="toggle2()">Toggle Active Class</button>
  <button (click)="toggleColor()">Change Color</button>
</div>

<p [ngClass]="{ active: isActive }">Bound Value: {{ name }}</p>
<p [ngStyle]="{ color: isRed ? 'red' : 'blue' }">{{name}}</p>
<button (click)="sendProfileData()"> send Profile</button>